@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

input {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

:root {
  --body-color: #000;
  --primary-color: #fff;
  --brand-color: #3D96F4;
  --secondary-color: #9C9C9C;
  --third-color: #81818B;
}

.title {
  color: var(--primary-color);
  font-size: 51.2px;
  font-weight: 500;
  line-height: 1.19;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 44px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.subtitle {
  color: var(--secondary-color);
  display: inline-block;
  font-size: 10.8px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 19px;
  border-radius: 12px;
  border: 1px solid rgba(129, 129, 139, 0.2);
}

.button {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 2px;
  padding: 16px 24px;
  border-radius: 50px;
  background: var(--brand-color);
  display: inline-block;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #294f78;
}

.button--dark {
  background: rgba(129, 129, 139, 0.2);
  padding: 16px 31px;
}

.text-big {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
}

.text-small {
  color: var(--third-color);
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 116px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 360.98px) {
  .header__container {
    gap: 17px;
  }
}
.header__logo {
  position: relative;
  z-index: 15;
}
@media (max-width: 520.98px) {
  .header__logo {
    width: 42px;
    flex: 0 0 42px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__cart {
  position: relative;
  z-index: 2;
}
.header__button {
  flex: 0 0 160px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .header__button {
    padding: 14px 20px;
  }
}
@media (max-width: 479.98px) {
  .header__button {
    padding: 14px 14px;
    font-size: 14px;
    flex: 0 0 140px;
  }
}
@media (max-width: 360.98px) {
  .header__button {
    padding: 12px 14px;
    font-size: 12px;
    flex: 0 0 120px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    overflow: auto;
    z-index: 2;
    padding: 160px 15px 30px 15px;
    transition: left 0.3s ease 0s;
  }
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 40px;
}
@media (max-width: 991.98px) {
  .menu__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.menu__link {
  line-height: 156.25%;
  /* 25/16 */
  color: var(--primary-color);
  position: relative;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 30px;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3D96F4;
  transition: width 0.3s ease 0s;
}
.menu__link:hover::before {
  width: 100%;
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.cart-header::before {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3D96F4;
  transition: width 0.3s ease 0s;
}
.cart-header:hover::before {
  width: 100%;
}
.cart-header__text {
  color: var(--primary-color);
  font-size: 17.6px;
  line-height: 1.64;
  letter-spacing: 0.96px;
}
@media (max-width: 991.98px) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__quantity {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.96px;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .cart-header__quantity {
    border-radius: 0;
    background: url(./img/icon/bag.svg) 0 0/100% no-repeat;
    width: 40px;
    height: 40px;
    filter: invert(1);
    padding-top: 10px;
    color: #000;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 15px;
  }
}
.icon-menu > span, .icon-menu::before, .icon-menu::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.5s ease 0s;
  z-index: 15;
}
.icon-menu > span {
  top: calc(50% - 1px);
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}

.open-menu .menu__body {
  left: 0;
}

.open-menu .icon-menu span {
  width: 0;
  transition: width 0.0001s;
}

.open-menu .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.open-menu .icon-menu::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

.hero {
  padding-top: 160px;
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.hero__container {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 40px;
}
@media (max-width: 767.98px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 1 50%;
  align-self: center;
}
.hero__title {
  margin-bottom: 28px;
  animation: title 3s 1 ease;
  position: relative;
}
.hero__title::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -30px;
  background: url(./img/hero/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
}
@keyframes title {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.hero__text {
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  animation: text 3s 1 ease;
}
@keyframes text {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 767.98px) {
  .hero__text {
    max-width: 490px;
  }
}
.hero__actions {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 20px;
}
@media (max-width: 479.98px) {
  .hero__actions {
    display: flex;
    flex-direction: column;
  }
}
.hero__media {
  flex: 0 1 50%;
}

.actions-hero {
  animation: actions-buttons 3s 1 ease;
}
@keyframes actions-buttons {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.media-hero__list {
  display: flex;
  -moz-column-gap: 59px;
       column-gap: 59px;
  justify-content: end;
}
@media (max-width: 991.98px) {
  .media-hero__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .media-hero__list {
    justify-content: center;
  }
}
.media-hero__body {
  display: grid;
  row-gap: 32px;
}
@media (min-width: 991.98px) {
  .media-hero__body:nth-child(2) {
    padding-right: 27px;
  }
}
.media-hero__image > img {
  max-width: 100%;
  animation: image-hero 3s 1 ease;
}

@keyframes image-hero {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.clients {
  padding-top: 90px;
  padding-bottom: 145px;
}
@media (max-width: 991.98px) {
  .clients {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.clients__title {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
@media (max-width: 991.98px) {
  .clients__title {
    margin-bottom: 35px;
  }
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 210px));
  gap: 30px;
  justify-content: center;
}
.clients__item {
  text-align: center;
}
.clients__item > img {
  max-width: 100%;
}

.services {
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .services {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-bottom: 30px;
  }
}
.services__container {
  display: flex;
  gap: 104px;
}
@media (max-width: 1100.98px) {
  .services__container {
    gap: 50px;
  }
}
@media (max-width: 991.98px) {
  .services__container {
    flex-direction: column;
  }
}
.services__content {
  flex: 0 1 40%;
}
@media (min-width: 991.98px) {
  .services__content {
    align-self: center;
  }
}
.services__subtitle {
  display: inline-block;
  margin-bottom: 16px;
}
.services__title {
  margin-bottom: 12px;
}
.services__text {
  margin-bottom: 33px;
}
@media (min-width: 991.98px) {
  .services__text {
    max-width: 491px;
  }
}
@media (max-width: 479.98px) {
  .services__button {
    width: 100%;
  }
}
.services__info {
  flex: 0 1 60%;
}

.info-services__list {
  display: flex;
  gap: 32px;
}
@media (max-width: 590.98px) {
  .info-services__list {
    flex-direction: column;
  }
}
.info-services__body {
  display: grid;
  gap: 32px;
}
@media (min-width: 590.98px) {
  .info-services__body:nth-child(1) {
    padding-top: 48px;
  }
}
@media (min-width: 590.98px) {
  .info-services__body:nth-child(2) {
    padding-bottom: 48px;
  }
}
.item-services {
  border-radius: 30px;
  background: rgb(25, 25, 29);
  padding: 50px 25px 65px 25px;
}
@media (max-width: 767.98px) {
  .item-services {
    padding: 45px 20px 55px 20px;
  }
}
.item-services__icon {
  width: 75px;
  height: 75px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.item-services__icon:nth-child(1) {
  background-color: rgb(24, 32, 43);
}
.item-services__icon:nth-child(2) {
  background-color: rgb(38, 36, 32);
}
.item-services__icon:nth-child(3) {
  background-color: rgb(39, 30, 30);
}
.item-services__icon:nth-child(3) {
  background-color: rgb(29, 36, 35);
}
.item-services__title {
  color: var(--primary-color);
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.36;
  margin-bottom: 10px;
}
.why {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .why {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.why__container {
  display: flex;
  gap: 64px;
}
@media (max-width: 767.98px) {
  .why__container {
    flex-direction: column-reverse;
  }
}
.why__media {
  flex: 0 1 50%;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.why__subtitle {
  margin-bottom: 43px;
}
@media (max-width: 767.98px) {
  .why__subtitle {
    margin-bottom: 35px;
  }
}
.why__title {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .why__title {
    margin-bottom: 35px;
  }
}
.why__text {
  margin-bottom: 39px;
  line-height: 1.5;
}
@media (max-width: 767.98px) {
  .why__text {
    margin-bottom: 25px;
  }
}
.why__list {
  display: grid;
  gap: 25px;
}
.why__item {
  position: relative;
  padding-left: 42px;
  padding-top: 4px;
  min-height: 32px;
}
.why__item::before {
  content: "";
  position: absolute;
  background: rgb(25, 25, 29) url(./img/why/item1.svg) center no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.media-why {
  display: flex;
}
.media-why__image:nth-child(1) {
  align-self: flex-end;
  position: relative;
}
.media-why__image:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  width: 122px;
  height: 122px;
  background: url(./img/why/decor.svg) 0 0/100% no-repeat;
}
.media-why__image:nth-child(2) {
  align-self: flex-end;
}
.media-why__image > img {
  max-width: 100%;
}

.advantages {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .advantages {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.advantages__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .advantages__container {
    flex-direction: column;
  }
}
.advantages__content {
  flex: 0 1 60%;
}
.advantages__title {
  display: none;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 767.98px) {
  .advantages__list {
    grid-template-columns: auto;
  }
}
.advantages__item {
  border-radius: 30px;
  background: rgb(25, 25, 29);
  padding: 40px;
}
.advantages__media {
  flex: 0 1 40%;
}
@media (max-width: 1100.98px) {
  .advantages__media {
    align-self: center;
  }
}

.item-advantages__title {
  color: var(--primary-color);
  font-size: 51.2px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 32px;
}
.media-advantages__image > img {
  max-width: 100%;
}

.testimonials {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.testimonials__content {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .testimonials__content {
    margin-bottom: 65px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__content {
    margin-bottom: 55px;
    flex-direction: column;
  }
}
.testimonials__subtitle {
  margin-bottom: 19px;
}
.testimonials__title {
  margin-bottom: 12px;
}
@media (min-width: 767.98px) {
  .testimonials__text {
    max-width: 736px;
  }
}
.testimonials__button {
  align-self: flex-end;
  animation: button-testimonials 2s infinite ease;
  box-shadow: 0px 8px 40px blue;
  flex: 0 0 160px;
}
@media (max-width: 767.98px) {
  .testimonials__button {
    flex: 0 0 0px;
    align-self: flex-start;
  }
}
@media (max-width: 479.98px) {
  .testimonials__button {
    width: 100%;
  }
}
.testimonials__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media (max-width: 1200.98px) {
  .testimonials__list {
    gap: 32px;
  }
}
@media (max-width: 1100.98px) {
  .testimonials__list {
    grid-template-columns: auto;
  }
}
@keyframes button-testimonials {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.article-testimonials {
  border-radius: 30px;
  background: rgb(25, 25, 29);
  padding: 64px 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200.98px) {
  .article-testimonials {
    padding: 40px 30px;
  }
}
@media (max-width: 479.98px) {
  .article-testimonials {
    padding: 30px 20px;
  }
}
.article-testimonials__title {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.37;
  margin-bottom: 34px;
}
.article-testimonials__text {
  color: var(--secondary-color);
  margin-bottom: 35px;
  flex: 1 1 auto;
}
.user-testimonials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 33px;
}
.user-testimonials__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}
.user-testimonials__avatar > img {
  max-width: 100%;
  transform: scale(1.05);
}
.user-testimonials__avatar--1 {
  border-radius: 0px 50% 50% 50%;
}
.user-testimonials__avatar--2 {
  border-radius: 50% 0px 50% 50%;
}
.user-testimonials__avatar--3 {
  border-radius: 50% 50% 0px 50%;
}
.user-testimonials__name {
  color: var(--primary-color);
  line-height: 1.5;
}
.user-testimonials__company {
  font-size: 14px;
  line-height: 1.57;
}

.blog {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 991.98px) {
  .blog {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 30px;
}
@media (max-width: 1150.98px) {
  .blog__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.blog__article {
  border-radius: 24px;
  background: rgb(25, 25, 29);
  display: flex;
  flex-direction: column;
}

.content-blog {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .content-blog {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .content-blog {
    flex-direction: column;
  }
}
.content-blog__subtitle {
  margin-bottom: 19px;
}
.content-blog__title {
  margin-bottom: 12px;
}
@media (min-width: 991.98px) {
  .content-blog__title {
    max-width: 391px;
  }
}
@media (min-width: 991.98px) {
  .content-blog__text {
    max-width: 736px;
  }
}
.content-blog__button {
  align-self: flex-end;
  flex: 0 0 160px;
}
@media (max-width: 767.98px) {
  .content-blog__button {
    align-self: start;
    flex: 0;
    width: 160px;
  }
}

.article-blog__header {
  position: relative;
}
.article-blog__img {
  border-radius: 26px 26px 0 0;
  overflow: hidden;
  flex: 0 0 394px;
  position: relative;
  padding-bottom: 49.238579%;
  /* 194/394 */
}
.article-blog__img > img {
  transform: scale(1.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-blog__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.57;
  border-radius: 0px 10px 0px 0px;
  background: rgba(129, 129, 139, 0.5);
  padding: 10px;
}
.article-blog__body {
  padding: 26px 29px 41px 26px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.article-blog__data {
  color: rgba(129, 129, 139, 0.9);
  line-height: 1.5;
  margin-bottom: 20px;
}
.article-blog__title {
  color: var(--primary-color);
  font-size: 19.2px;
  font-weight: 400;
  line-height: 26.88px;
  margin-bottom: 30px;
}
.article-blog__text {
  color: var(--secondary-color);
  margin-bottom: 22px;
  flex: 1 1 auto;
}
.article-blog__link {
  color: var(--brand-color);
  font-size: 14px;
  line-height: 1.57;
  transition: all 0.3s ease 0s;
}
.article-blog__link:hover {
  text-decoration: underline;
}

.ready {
  padding-top: 90px;
  padding-bottom: 96px;
}
@media (max-width: 991.98px) {
  .ready {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .ready {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.ready__container {
  border-radius: 30px;
  background: #19191d;
  padding: 52px 15px;
  display: flex;
  justify-content: space-around;
  row-gap: 30px;
}
@media (max-width: 991.98px) {
  .ready__container {
    flex-direction: column;
    padding: 40px 15px;
  }
}
.ready__content {
  align-self: center;
}
.ready__title {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.37;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .ready__title {
    margin-bottom: 12px;
  }
}
@media (min-width: 991.98px) {
  .ready__title {
    max-width: 348px;
  }
}
.ready__text {
  text-align: center;
}
@media (min-width: 991.98px) {
  .ready__text {
    max-width: 302px;
  }
}
.ready__actions {
  display: flex;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .ready__actions {
    gap: 26px;
  }
}
@media (max-width: 478.98px) {
  .ready__actions {
    flex-direction: column;
    gap: 20px;
  }
}

.actions-button {
  align-self: center;
}
@media (max-width: 478.98px) {
  .actions-button {
    width: 100%;
  }
}
.footer {
  padding-top: 160px;
}
@media (max-width: 1190.98px) {
  .footer {
    padding-top: 100px;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 70px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 30px;
  }
}
.footer__list {
  margin-bottom: 160px;
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  justify-content: space-between;
}
@media (max-width: 1190.98px) {
  .footer__list {
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
}
@media (max-width: 991.98px) {
  .footer__list {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .footer__list {
    margin-bottom: 30px;
  }
}
@media (max-width: 860.98px) {
  .footer__list {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 1190.98px) {
  .footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media (max-width: 860.98px) {
  .footer__column:nth-child(1) {
    grid-column: span 2;
  }
}
@media (max-width: 860.98px) {
  .footer__column:nth-child(4) {
    grid-column: span 2;
  }
}
.column-footer__logo {
  max-width: 100%;
  margin-bottom: 32px;
  display: inline-block;
}
.column-footer__text {
  margin-bottom: 33px;
}
@media (min-width: 1190.98px) {
  .column-footer__text {
    max-width: 347px;
  }
}
.column-footer__title {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 31px;
}
.column-footer__list {
  display: grid;
  gap: 25px;
}
.column-footer__form {
  display: flex;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .column-footer__form {
    flex-direction: column;
  }
}
.column-footer__input {
  border-radius: 50px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  background: transparent;
  padding: 14px 0px 14px 33px;
  color: var(--primary-color);
  font-weight: 400;
  display: block;
  width: 100%;
}
@media (max-width: 991.98px) {
  .column-footer__input {
    padding: 14px 0px 14px 20px;
  }
}
.column-footer__input::-moz-placeholder {
  color: #999;
  font-weight: 400;
}
.column-footer__input::placeholder {
  color: #999;
  font-weight: 400;
}
.column-footer__input:focus {
  border-color: var(--brand-color);
  outline-width: 0;
}
.socials-footer {
  display: flex;
  gap: 16px;
}
.socials-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #75757f;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.socials-footer__icon:hover {
  border: 1px solid var(--brand-color);
  transform: scale(1.1);
}
.privacy-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding: 45px 0px;
}
.privacy-footer__text {
  text-align: center;
}

body {
  color: var(--secondary-color);
  font-family: "Poppins";
  font-weight: 300;
  background-color: var(--body-color);
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}/*# sourceMappingURL=style.css.map */