.footer {
    padding-top: 160px;

    @media(max-width:1190.98px) {
        padding-top: 100px;
    }

    @media(max-width:991.98px) {
        padding-top: 70px;
    }

    @media(max-width:767.98px) {
        padding-top: 30px;
    }

    &__container {}

    &__list {
        margin-bottom: 160px;
        display: grid;
        column-gap: 30px;
        row-gap: 50px;
        grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
        justify-content: space-between;

        @media(max-width:1190.98px) {
            grid-template-columns: minmax(auto, 378px) auto auto;
        }

        @media(max-width:991.98px) {
            margin-bottom: 70px;

            @media(max-width:767.98px) {
                margin-bottom: 30px;
            }
        }

        @media(max-width:860.98px) {
            grid-template-columns: auto auto;
        }
    }

    &__column {
        &:nth-child(1) {
            @media(max-width:1190.98px) {
                grid-column: span 3;
            }

            @media(max-width:860.98px) {
                grid-column: span 2;
            }
        }

        &:nth-child(4) {
            @media(max-width:860.98px) {
                grid-column: span 2;
            }
        }
    }

    &__privacy {}
}

.column-footer {

    &__logo {
        max-width: 100%;
        margin-bottom: 32px;
        display: inline-block;
    }

    &__text {
        margin-bottom: 33px;

        @media(min-width:1190.98px) {
            max-width: 347px;
        }
    }

    &__socials {}

    &__title {
        color: var(--primary-color);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom: 31px;
    }

    &__list {
        display: grid;
        gap: 25px;
    }

    &__item {}

    &__form {
        display: flex;
        gap: 16px;

        @media(max-width:767.98px) {
            flex-direction: column;
        }
    }

    &__input {
        border-radius: 50px;
        border: 1px solid rgba(129, 129, 139, 0.30);
        background: transparent;
        padding: 14px 0px 14px 33px;
        color: var(--primary-color);
        font-weight: 400;
        display: block;
        width: 100%;

        @media(max-width:991.98px) {
            padding: 14px 0px 14px 20px;
        }

        &::placeholder {
            color: #999;
            font-weight: 400;
        }

        &:focus {
            border-color: var(--brand-color);
            outline-width: 0;
        }
    }

    &__button {}
}

.socials-footer {
    display: flex;
    gap: 16px;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border: 1px solid #75757f;
        border-radius: 50%;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--brand-color);
            transform: scale(1.1);
        }
    }

    &__link {}
}

.button {}

.privacy-footer {
    border-top: 1px solid rgba(129, 129, 139, 0.20);
    padding: 45px 0px;

    &__text {
        text-align: center;
    }
}