.hero {
    padding-top: 160px;
    padding-bottom: 90px;

    @media(max-width:991.98px) {
        padding-top: 120px;
        padding-bottom: 70px;
    }
    @media(max-width:991.98px) {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    &__container {
        display: flex;
        column-gap: 32px;
        row-gap: 40px;

        @media(max-width:767.98px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 1 50%;
        align-self: center;
    }

    &__title {
        margin-bottom: 28px;
        animation: title 3s 1 ease;
        position: relative;
        z-index: -5;
        &::before{
            content: '';
            position: absolute;
            top: -16px;
            left: -30px;
            background: url(./img/hero/decor.svg) 0 0 / 100% no-repeat;
            width: 122px;
            height: 122px;
        }
    }
    @keyframes title {
        0%{
            transform: scale(0);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }

    &__text {
        margin-bottom: 33px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        animation: text 3s 1 ease;

        @keyframes text {
            0%{
                transform: scale(0);
            }
            50%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);
            }
        }
        @media(min-width:767.98px) {
            max-width: 490px;
        }
    }

    &__actions {
        display: flex;
        column-gap: 33px;
        row-gap: 20px;

        @media(max-width:479.98px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__media {
        flex: 0 1 50%;
    }
}

.title {}

.actions-hero {
    animation: actions-buttons 3s 1 ease;
    &__button {}
}
@keyframes actions-buttons {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.button {}

.button--dark {}

.media-hero {
    &__list {
        display: flex;
        column-gap: 59px;
        justify-content: end;

        @media(max-width:991.98px) {
            column-gap: 40px;
        }

        @media(max-width:767.98px) {
            justify-content: center;
        }
    }

    &__body {
        display: grid;
        row-gap: 32px;

        &:nth-child(2) {
            @media(min-width:991.98px) {
                padding-right: 27px;
            }
        }
    }

    &__image {
        &>img {
            max-width: 100%;
            animation: image-hero 3s 1 ease;
        }
    }
}
@keyframes  image-hero{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}